@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Great+Vibes&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, #1f3079c7, #172049cc), url(assets/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
   /* padding: 30px 40px; */
   width: 100%;
   height: 100vh;
}

/* Navigation bar */

.container .navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.navbar div img{
    width: 90px;
    height: 32px;
    margin-left: 16px;
}
.container .navbar div ul{
    display: flex;
    justify-content: space-between;
    width: 70vh;
    color: #FFC233;
    list-style: none;
    font-family: 'Red Rose', sans-serif;
}
.navbar div button{
    width: 90px;
    height: 30px;
    background-color: #FF505F;
    color: #fff;
    border: 1px solid #FF505F;
    font-family: 'Red Rose', sans-serif;
    margin-right: 60px;
}

/* Hero Section */

.hero h1{
    font-family: 'Dela';
    font-weight: 800;
    font-size: 7rem;
    text-align: center;
    text-decoration: none;
    color: #FFC233;
    line-height: 6.8rem;
    margin-top: 5rem;
}
.hero button{
    position: relative;
    justify-content: center;
    align-items: center;
    left: 80vh;
    width: 40vh;
    height: 60px;
    font-family: 'Red Rose', cursive;
    background-color: #FF505F;
    color: #fff;
    border: 1px solid #FF505F;
    font-size: 18px;
    top: 50px;
}
.hero div img{
    width: 120px;
    height: 120px;
    position: relative;
    left: 85%;
    top: 10px;
}
